@import '~normalize.css';
@import 'core/__core';


@import 'base/__base';

@import "vendors/__vendors";

@import 'pages/__pages';
@import 'objects/__objects';
@import 'components/__components';

@import 'utils/__utils';

* {
	box-sizing: border-box;
	outline: none;
}

body {
	background: $background-color;
}

