@import 'config';

@import '~normalize.css';
@import 'abstract/__abstract';
@import 'base/__base';
@import 'vendors/__vendors';
@import 'pages/__pages';
@import 'objects/__objects';
@import 'components/__components';
@import 'utils/__utils';

* {
    outline: none;
    box-sizing: border-box;
}

body {
    background: color('background');
}
