.btn {
	display: inline-block;
	font-size: 1rem;
	line-height: $base-line-height;

	background: transparent;
	padding: 5px 35px;
	border: 2px solid $secondary-color;
	border-radius: 25px;
	color: $secondary-color;

	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: $secondary-color;
	}
}