body {
    color: color(text);
    font-family: $font-family;
    font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @if($heading-font-family != $font-family) {
        font-family: $heading-font-family;
    }
    
    margin: $base-spacer 0;
    color: color(heading);
    line-height: $base-line-height;
}

p {
    margin: $base-spacer 0;
    line-height: $base-line-height;
}

a {
    color: color(link);
    text-decoration: none;

    &:hover {
        color: color(link-hover);
    }
}
